@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}


/* Товары */

.products__title {
  margin-top: 48px;
  font-weight: 400;
  text-align: center;
}

.products__title_big {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products__title_small {
  margin-top: 6px;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  position: relative;
}

.product-card__content {
  margin-top: 24px;
  margin-bottom: 20px;
  margin-left: 16px;
  width: 315px;
}

.product-card__name {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product-card__description {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product-card__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}



