* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 100px;
}

.video {
  width: 500px
}

.controls {
  width: 500px;
}

#timing {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.controls__btn {
  background-color: white;
  border: none;
  cursor: pointer;
  
}

.controls__btn:hover {
  opacity: 80%;
}

.controls__btn:active {
  transform: translateY(4px);
}

.controls__btn img {
  width: 50px;
}
.volume {
  display: flex;
}
.volume:hover #controls__volume {
  display: block;
}

#controls__volume {
  display: none;
}

.volume__img {
  width:  50px;
}
